body{
	background:linear-gradient(yellow,#9993FF,blue);
	animation-name: body;
	animation-duration: 20s;
	animation-iteration-count:2;
}

/* Para fazer animação, usamos o keyframes */

@keyframes body{
	0%{background: url("no.gif")}
	50%{background: url("no.gif")}
	100%{background: url("pow.jpg")}
}