#a{
	background-color: #00FF4F;
	width: 250px;
	height: 200px;
	border: 4px solid #FF0000;
	padding: 30px;
	float: right;
}

#b{
	background-color: #0C1CE8;
	width: 250px;
	height: 200px;
	border: 4px solid #FF0000;
	padding: 30px;
	float: left;
}

#container{
	border: 2px solid black; /* Define a largura fixa */
	width: 80%; /* Para definir a largura através largura liquida,
	não pode esquecer de definer o tamanho minimo da largura */ 
	min-width: 300px;
	margin: 0px auto; /* Para centralizar o layout, ou seja, 
	o container */
	padding: 30px;
}

*{ /* O '*'' é um seletor universal */
	font-size: 18px; /* Define a largura de maneira elástica */
	color: #E85D0C;
}