/* Comando para inserir comentário */	
p{
  font-size:16pt;
  font-family:"Calibri";
  color:#BC19FF;
 }
#p1,#p2{ /* Exemplo de seletor usando id: # */
		font-size:16pt;
		font-family:"Verdana";
		color:#FF0000;
		border:10px inset #1E32FF; /* 10px, Espesura da borde; inset, Definir o tipo da borda; #1E32FF, Define a cor */ 		
}
#p3,#p4{
		font-size:16pt;
		font-family:Aparajita;
		color:#FFB80D;
		border:10px inset #FFD22D;
}
.films{
	   font-family:Aparajita;
	   color:#810CE8;
	   font-weight:300; /* Comando para inserir a quantidade de negrito, e se não quiser o negrito usa-se o comando lighter */	
}	  
body{
	background-color:#89FF3A;
	background-image:url("brasao.jpg"); /* Comando para inserir imagem de fundo */
	background-repeat:no-repeat; /* Comando para não repetir a imagem */
} 