div{
	border: 1px solid #0D47FF;
	background-image: url("image.jpg");
}

#container{
	width: 800px;
	margin: 0px auto;
}

#header{
	height: 80px;
	background-color: #63FF0D;
	font-size: 14pt;
	text-align: center;
	color: white;
	font-family: Verdana;
	font-weight: bold;
}

#left{
	float: left;
	width: 130px;
	height: 200px;
	color: #FF0000;
	font-size: 12pt;
	font-weight: bold;
}

#content{
	float: right;
	width: 666px;
	height: 200px;
	text-align: center;
	font-size: 14pt;
	color: #FF0000;
	font-weight: bold;
}

#footer{
	clear: both;
	color: white;
	font-size: 14pt;
	text-align: center;
}