#ab{
	background-color:#cecece;
	width:250px;
	height:200px;
	border:4px solid #AABBCC;
	padding:30px;
	float:left;
}

#cd{
	background-color:#AABBCC;
	width:250px;
	border:4px solid #CECECE;
	padding:30px;
	float:right;
}

#container{
	border:2px solid black;
	/* Width:750px;essa forma define a largura fixa */
	width:60%; /* Para definir a largura atraves da largura liguida,não pode esquecer 
	de definir o tamanho minimo da largura */
	min-width:400px;
	margin:0px auto; /* Para centralizar o layout, ou seja, o container */
	background-color:#CC4455;
	padding:30px;
}

*{ /* O * é um seletor universal */
	font-size:28px; /* Define a largura de maneira elástica */
	font-family:Verdana;
	color:yellow;
}