form{
	width:500px;
	margin:auto;
}
legend{
	color:#1979FF;
	font-size:13pt;
	font-family:Andalus Regular;
	font-weight:bold;
}
fieldset{
	border-color:#3C29FF;
	margin:20px;
}
#sexo{
	width:20px;
	border-color:#FFE31A;
	background:url("qualquer.png") no-repeat;
}
input:hover{
	background-color:#cecece;
}
input,textarea{
	font-family:"Verdana";
	font-size:13pt;
	background-color:rgba(255,255,255,0,8);
}
