body{
	background-image:url("nuclear.gif"),url("no.gif"),url("pulp.gif"),url("gambi.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed; /* Para a imagem fica fixa na pagina utiliza-se o comando fixed, ou seja, a imagem não vai rolar junto 
								com a barra de rolagem, se não colocar nada o padrão é o scroll */	
	background-position:center top,center,right top,center right;
	background-color:rgba(100,0,0,50%);	/*a , para mudar a opacidade */	
}
p{
	margin-bottom:2000px;
}
a{
	text-decoration:none;/* Desenho(quadrado) que envolve o texto, o nome e para remover a borda */
	color:#FF0DFF;
	font-family:Bodoni;
	font-size:70px;
	font-weight:bold;
	background-color:#1B2EFF;
}
a:hover{
	color:#E80C11;
	background-color:#58EDFF;
}
h1{
	text-decoration:overline; /* Para inserir uma linha em cima do texto */
	text-transform:capitalize; /* Para a primeira letra ser em caixa alta */
}
h2{
	text-decoration:line-through; /*Para inserir um riscado */
	text-transform:uppercase; /* lowercase Para a primeira letra ser em caixa baixa; uppercase, todas as letras em caixa alta */
}
}
